<template name="login">
  <div id="login" class="ui segment">
    {{#if error}}
      <div class="ui small error message">
        {{error}}
      </div>
    {{/if}}
    <div class="ui login-password form">

      <div class="field">
        <label> Username </label>
        <input type="text" id='username' placeholder="Username">
      </div>
      <div class="field">
        <label> Password </label>
        <input type="password" id='password' placeholder="Password">
      </div>
      <div class="field">
        <button id="login-password" class="ui fluid grey button"> Login </button>
      </div>
    </div>
    <br>

    {{#if enabled.facebook}}
      <button id="login-facebook" class="ui fluid facebook button">
        <i class="facebook icon"></i>
        Login with Facebook
      </button>
    {{/if}}
  </div>
</template>