<template name="channels">
  <div class="ui segment">
    <div class="ui header">
      Create a Channel
    </div>
    <div class="ui form">

      <div class="field">
        <div class="ui action input">
          <input id="name" type="text">
          <button id="submit" class="ui teal button">
            Create Channel
          </button>
        </div>
      </div>

    </div>
  </div>

  <div class="ui segment">
    <div class="ui header">
      My Channels
    </div>
    {{#each myChannels}}
      <div
        style="color: #fff; background-color: {{color}}"
        class="ui large label">
        #{{name}}
      </div>
    {{/each}}
  </div>


  <div class="ui header">
    Channels
  </div>
  {{#each channels}}
    <div
      style="border-color: {{color}}; background: {{color}}"
      class="ui top attached segment">
      <div
        style="color: #fff; background-color: {{color}}"
        class="ui large label">
        #{{name}}
      </div>
      {{#if isSubscribed}}
        <div class="ui green small button unsubscribe">
          Subscribed
        </div>
      {{else}}
        <div class="ui basic small button subscribe">
          Subscribe
        </div>
      {{/if}}
    </div>
    <div class="ui bottom attached segment">
      <div class="ui stackable grid">
        {{#each channelUsers}}
          <div class="eight wide column">
            {{> userCard}}
          </div>
        {{/each}}
      </div>
    </div>
  {{/each}}
</template>