@import 'branding';
@import 'keyframes';
@import 'mixins';

$sidebar-width: 92px;

// Individual Elements

// Components
@import 'components/sidebarNav';
@import 'components/userCard';

// Views
@import 'views/splash';
@import 'views/home';
@import 'views/create';

body,
html,
button,
input {
  @include font-stack();
  color: #4A4A4A;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

// Layout
@import 'layouts/sidebarLayout';

// Any overrides
@import 'override';