@import 'branding';
@import 'keyframes';
@import 'mixins';

// Individual Elements

// Components

// Views
@import 'views/splash';
@import 'views/home';

body,
html,
button,
input {
  @include font-stack();
  color: #303030;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

// Layout
@import 'layouts/bannerLayout';

// Any overrides
@import 'override';