<template name="userCard">
  <div class="userCard">
    <div class="ui top attached segment">
      <img
        class="ui avatar image"
        src="{{facebookImageUrl}}">
      <span>
        <strong>{{profile.name}}</strong>
          {{#if statusIs 'online'}}
            <i class="green circle icon"></i>
          {{/if}}
      </span>
    </div>
    <div class="ui bottom attached segment">
      {{#each channels}}
        <div
          style="background: {{color}}"
          class="ui inverted label">
          #{{name}}
        </div>
      {{/each}}
    </div>
  </div>
</template>