#splash {
  height: 100%;
  width: 100%;
  color: $brand-primary;

  >.container {
    @include vertical-align();
    button {
      margin: 0 auto;
    }

    .logo {
      text-align: center;
      margin-top: 18px;
    }

    .header,
    .subheader {
      text-align: center;
    }

    .header {
      @include logo-font();
      font-size: 2em;
      letter-spacing: .1em;
      margin: 36px;
    }

    #login {
      max-width: 320px;
      margin: 0 auto;
    }

  }

}