<template name="sidebarNav">
  <div id="sidebar" class="visible ui left vertical inverted sidebar labeled icon menu">
    <a href="/"
      class="item {{isActivePath '/'}}">
      <i class="send icon"></i>
      Dispatch
    </a>
    <a
      href="/create"
      class="item {{isActivePath '/create'}}">
      <i class="plus layout icon"></i>
      New Task
    </a>
<!--     <a class="item">
      <i class="settings icon"></i>
      Settings
    </a> -->
    <a class="item" id="logout">
      <i class="sign out icon"></i>
      Logout
    </a>
  </div>
</template>