{
  "admin": {
    "username": "admin",
    "password": "hunter2"
  },
  "facebook": {
    "enable": true,
    "appId": "facebook-client-id",
    "secret": "facebook-secret"
  },
  "settings": {
  },
  "defaultAdmin": true
}