{
  "admin": {
    "username": "admin",
    "password": "hunter2"
  },
  "facebook": {
    "enable": true,
    "appId": "facebook-client-id",
    "secret": "facebook-secret"
  },
  "settings": {
    "twilio": {
      "number": "from-phone-number",
      "accountSid": "account-sid",
      "authToken": "auth-token"
    }
  },
  "defaultAdmin": true
}
